<div class="aboutContainer">
  <div class="about">
    <b>SUBSTRATE, INC.</b>
    has 18 years of hands-on experience with specialty
    polymer coating systems and cement-base overlays in
    the following environments:
  </div>
  <div class="items">
    <b>Pharmaceutical-Chemical Refinery</b><br />
    <b>Live Stock Processing</b><br />
    <b>Aerospace & Federal Government Facilities</b><br />
    <b>New Construction Industrial-Commercial-Residential</b><br />
  </div>
  <div class="about">
    Here at <b>SUBSTRATE</b> we strongly believe our services stand
    out because we offer great value through excellent quality and
    performance as well as a pleasing aesthetic.
    Our employees are highly trained technicians that are knowledgeable
    in customer service, material handling and application.
    We take pride in our work with safety and quality as our top priorities!
    <div class="footer">
      <div class="about-footer">Decorative and protective concrete floor,</div>
      <div class="about-footer">wall & overhead substrate solutions.</div>
      <div class="about-footer hilite">Industrial-Commercial-Residential</div>
      <div class="about-footer hilite">10 & 30 hr OSHA Certified</div>
    </div>
  </div>
</div>