<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="title-container">
    <div class="title">
      {{title}}
    </div>
    <div class="subTitle">Seamless Polymer Flooring, Wall and Lining Systems</div>
  </div>
  <!--div id="selected" class="ui-widget ui-widget-content"-->
  <p-panel styleClass="app-panel">
    <p-header>
        <app-menu [ngModel]="navItems" ngDefaultControl></app-menu>
    </p-header>
    <div>
      <router-outlet class="ro"></router-outlet>
    </div>
  </p-panel>
</div>