<!--the site is hosted via amzn s3 bucket @ http://www.substrateepoxy.com.s3-website.us-east-2.amazonaws.com-->
<div>
  <div class="title-container">
    <div class="title">
      {{title}}
    </div>
    <div class="subTitle">Seamless Polymer Flooring, Wall and Lining Systems</div>
  </div>
  <!--div id="selected" class="ui-widget ui-widget-content"-->
  <p-panel styleClass="app-panel">
    <p-header>
        <app-menu [ngModel]="navItems" ngDefaultControl></app-menu>
    </p-header>
    <div>
      <router-outlet class="ro"></router-outlet>
    </div>
    <p-footer>
      <div class="contact">
          <address>
            SUBSTRATE, Inc.<br/>
            880 LEE STREET &bull; DES PLAINES, IL 60016<br/>
          </address>
          <div class="contact-details">
            PH: 630-398-9090 &bull; <a href="mailto:substrate100@yahoo.com">EMAIL: substrate100@yahoo.com</a>      
          </div>
      </div>
    </p-footer>
  </p-panel>
</div>