<p-accordion>
  <p-accordionTab header="OUR COMMITMENT">
    <ul>
      <li>
        Customer Satisfaction
      </li>
      <li>
          Quality
        </li>
      <li>
          Safety
      </li>
    </ul>
    <p>
      Representatives have OSHA 10 & 30 Hour Training
    </p>
  </p-accordionTab>
  <p-accordionTab header="POURED IN PLACE FLOORING">
    <ul>
      <li>
        SEAMLESS EPOXY
      </li>
      <li>
        URETHANES
      </li>
      <li>
        MMA 
      </li>
      <li>
        CEMENT BASE OVERLAYS
      </li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="INDUSTRIAL-COMMERCIAL-RESIDENTIAL CONCRETE">
      <ul>
          <li>
          PROTECTION
          </li>
          <li>
          RESTORATION
          </li>
      </ul>
  </p-accordionTab>
</p-accordion>
