<p-accordion>
  <p-accordionTab header="SERVICE AND COMMITMENT">
      <p>
          At SUBSTRATE we specialize in poured in place
          resinous flooring and cement base decorative overlays on floor walls
          and overhead concrete environments.
        
          Indoor/Outdoor applications
        
          Customer satisfaction, safety and quality 
          are our goals, while 
          10-30 hr OSHA safety measures
          and quality-oriented employees are the backbone 
          of our success.
        </p>
  </p-accordionTab>
  <p-accordionTab header="POURED IN PLACE FLOORING">
    <ul>
      <li>
        SEAMLESS EPOXY
      </li>
      <li>
        URETHANES
      </li>
      <li>
        MMA AND CEMENT BASE OVERLAYS
      </li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="INDUSTRIAL-COMMERCIAL-RESIDENTIAL">
      <ul>
          <li>
          CONCRETE PROTECTION
          </li>
          <li>
          CONCRETE RESTORATION
          </li>
      </ul>
  </p-accordionTab>
</p-accordion>
