/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    min-height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Roboto', "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #404C51;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
}

address, .contact-details {
  font-size: 12px;
}

.ui-panel .ui-panel-content {
  height: 592px;
  width: 1026px;  
}

p-accordiontab .ui-accordion-header {
  height: 100px;
  line-height: 3;
  font-size: 20px;
}

p-accordiontab .ui-accordion-content-wrapper {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 2;
}

p-accordiontab a {
  text-decoration: none;
}

p-accordion .ui-accordion .ui-accordion-content {
  padding: 0 1em 0 0;
}

p-accordiontab .ui-accordion-content {
  margin-left: 1em;
  margin-top: -25px;
}

.title-container {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.title{
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    font-weight: bold;
    font-size: 125px;
    color: #0088cc;
    line-height: 75px;
    margin-bottom: 25px;
}

.subTitle {
    font-size: 25px;
    line-height: 35px;
}

.app-panel {
  width: 1052px;
  margin: 0 auto;
  border-radius: 10px;
}

.app-panel.ui-panel.ui-widget .ui-panel-titlebar {
  border-width: 0 1px 1px 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

p-menubar .ui-widget-content {
    border: none;
    text-align: center;
}

.ui-menubar .ui-menubar-root-list>.ui-menuitem {
    margin-left: 50px;
    margin-right: 50px;
}

.app-panel .ui-panel-footer {
  padding-bottom: 5px;
  border-width: 1px 1px 1px 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #f6f7f9 0 0 repeat-x;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f7f9), color-stop(100%, #ebedf0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
  /* W3C */ 
}

.contact {
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
}

p-lightbox a {
  margin: 10px;
}

#slideshow {
    overflow: hidden;
    height: 578px;
    width: 1026px;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    background: #f6f7f9;
    color: #1b1d1f;
  }
  
  .slide-wrapper {
     width: 3724px;
    animation: slide 18s ease infinite;
  }
  
  .slide {
    float: left;
    height: 592px;
    width: 1026px;
  }
  
  .slide:nth-child(1) {
    background-image: url('assets/home/intro-1.jpg');
  }
  
  .slide:nth-child(2) {
    background-image: url('assets/home/intro-2.jpg');
  }
  
  .slide:nth-child(3) {
    background-image: url('assets/home/intro-3.jpg');
  }
  
  .slide-number {
    color: #000;
    text-align: center;
    font-size: 10em;
  }
  
  @keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -1026px;}
    50% {margin-left: -1026px;}
    60% {margin-left: -2052px;}
    70% {margin-left: -2052px;}
    /* 80% {margin-left: -2520px;}
    90% {margin-left: -2520px;} */
  }