/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    min-height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Roboto', "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #404C51;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
} 


.title-container {
    margin-top: 5%;
    margin-bottom: 30px;
    text-align: center;
}

.title{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    font-weight: bold;
    font-size: 125px;
    color: #0088cc;
    line-height: 75px;
    margin-bottom: 25px;
}

.subTitle {
    font-size: 25px;
    line-height: 35px;
}

p-menubar .ui-widget-content {
    border: none;
    text-align: center;
}

.ui-menubar .ui-menubar-root-list>.ui-menuitem {
    margin-left: 50px;
    margin-right: 50px;
}

#slideshow {
    overflow: hidden;
    height: 472px;
    width: 840px;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    background: #f6f7f9;
    color: #1b1d1f;
  }
  
  .slide-wrapper {
    width: 3360px;
    -webkit-animation: slide 18s ease infinite;
  }
  
  .slide {
    float: left;
    /* min-height: 450px;
    min-width: 800px;*/
    height: 472px;
    width: 840px;
  }
  
  .slide:nth-child(1) {
    /* background: './assets/home/intro-1.jpg'; */
    background-image: url('assets/home/intro-1.jpg');
  }
  
  .slide:nth-child(2) {
    background-image: url('assets/home/intro-2.jpg');
  }
  
  .slide:nth-child(3) {
    background-image: url('assets/home/intro-3.jpg');
  }
  
  .slide-number {
    color: #000;
    text-align: center;
    font-size: 10em;
  }
  
  @-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -840px;}
    50% {margin-left: -840px;}
    60% {margin-left: -1680px;}
    70% {margin-left: -1680px;}
    /* 80% {margin-left: -2520px;}
    90% {margin-left: -2520px;} */
  }